body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.contenedor {
    background-color: white;
    padding: 30px;
    margin: auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="file"] {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
